<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">

		<h2 class="f2 b lh-title mb3">Upcoming Rides</h2>

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>Leader</th>
                    <th>Class</th>
                    <th>Route</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tbody>
                  {{ $events := where .Site.RegularPages  "Section" "events" }}
                  {{ $events := $events | intersect (where $events "Date" "ge" now) | first 30 }}
            
                  {{ range $events }}
                    ...
                  {{ end }}
                </tbody>
              </table>
		</div>

		<div class="tc">
			<a href="/events" class="btn raise">See All Rides</a>
		</div>

	</div>
</div>
