<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">

		<h2 class="f2 b lh-title mb3">Upcoming Rides</h2>

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>Leader</th>
                    <th>Class</th>
                    <th>Route</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tbody>
                  {{ $events := where .Site.RegularPages  "Section" "events" }}
                  {{ $events := $events | intersect (where $events "Date" "ge" now) | first 30 }}
                  {{ $events := $events.Reverse }}
            
                  {{ range $events }}
                    <tr>
                        <td><a class="fa-calendar" href="#">+</a></td>
                        <td>{{ .Date.Format "Mon Jan 2, 2006 - 7:00 AM" }}</td>
                        <td style='color: {{ if eq .Params.status "Scheduled" }}green{{ else if eq .Params.status "Canceled" }}red{{ else }}yellow{{ end }};'>{{ .Params.status }}</td>
                        <td>{{ .Params.location }}</td>
                        <td>{{ .Params.leader }}</td>
                        <td>{{ .Params.class }}</td>
                        <td><a href="#">{{ .Params.map }}</a></td>
                        <td><a href="{{ .RelPermalink }}">More</a></td>
                    </tr>
                  {{ end }}
                </tbody>
              </table>
		</div>

		<div class="tc">
			<a href="/events" class="btn raise">See All Rides</a>
		</div>

	</div>
</div>
